<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>178046443998-n3qfhs8l1f4uf37gmm9lk6fga2selisc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178046443998-n3qfhs8l1f4uf37gmm9lk6fga2selisc</string>
	<key>API_KEY</key>
	<string>AIzaSyC42E47gH-BwrumXrXke_CQ9TAXH_3kVls</string>
	<key>GCM_SENDER_ID</key>
	<string>178046443998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.InstagramFirebase</string>
	<key>PROJECT_ID</key>
	<string>instagramfirebase-69263</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirebase-69263.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178046443998:ios:f40084d6559097d9</string>
	<key>DATABASE_URL</key>
	<string>https://instagramfirebase-69263.firebaseio.com</string>
</dict>
</plist>